<div class="services-optimization-area pt-80 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1 order-2">
                <div class="services-optimization-thumb mt-40">
                    <img src="assets/images/services-op-1.jpg" alt="">
                </div>
                <div class="services-optimization-thumb-2">
                    <img src="assets/images/services-op-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="services-optimization-content mt-40">
                    <span>AgoraLabs</span>
                    <h3 class="title">Le Conseil</h3>
                    <p>La réalisation de projets digitaux ambitieux implique d'avoir une grande maîtrise des processus de production. Les équipes d'AgoraLabs ont acquis suffisamment d'expérience pour vous accompagner tout le long.</p>
                    <p>C'est pourquoi nous avons constitué une importante gamme d'offres d'accompagnement vous permettant de répondre à un large éventail d'objectifs stratégiques.</p>
                    <p> Voici donc nos offres Conseil :</p>
                        <ul>
                            <li>- <span style = "font-weight: bold;">Design : </span> Vous accompagner dans la conception de solutions applicative, car un design optimal garantit l’évolutivité de vos solutions.</li>
                            <li>- <span style = "font-weight: bold;">Performance : </span> Vous accompagner dans la résolution de problèmes de performances de vos applications, car la performance est la clé pour rester compétitif.</li>
                            <li>- <span style = "font-weight: bold;">Développement & Intégration : </span> Vous accompagner dans le développement et l’intégration de technologies modernes pour vos problématiques Devops, Front End, Backend, Qualité et Mesurabilité.</li>
                            <li>- <span style = "font-weight: bold;">Maintenance & Support : </span> Vous accompagner pour l’amélioration continue de vos applications, vous permettre d’être réactif en cas de problème.</li>
                            <li>- <span style = "font-weight: bold;">Integration Continue : </span> Mettre en place une chaine de build intégrant des Tests automatisés réduisant de 90% vos régressions.</li>
                            <li>- <span style = "font-weight: bold;">Déploiement Continu : </span> Mettre en place une chaine d’intégration et de déploiement continus pour réduire au strict minimum le Time to market.</li>
                        </ul> 
                    
                    <!--<div class="action-support-item">
                        <p>Appelez nous</p>
                        <span>+33 6 24 87 33 33</span>
                        <i class="fal fa-phone"></i>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>