<div class="services-optimization-area pt-80 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1 order-2">
                <div class="services-optimization-thumb mt-40">
                    <img src="assets/images/services-op-1.jpg" alt="">
                </div>
                <div class="services-optimization-thumb-2">
                    <img src="assets/images/services-op-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="services-optimization-content mt-40">
                    <span>AgoraLabs</span>
                    <h3 class="title">Les formations</h3>
                    <p>Chez AgoraLabs, notre offre de formation est étudiée pour répondre à vos besoins précis en terme de DevOps et de Cloud.</p>
                    <p>Nos formations sont transmises dans un savant dosage combinant la théorie et la pratique et se déclinent sous plusieurs modes :</p>
                    <p style = "font-weight: bold;">- Des formations à distance </p>
                    <p style = "font-weight: bold;">- Des formations en mode « intra entreprise », dispensées sur vos sites </p>
                    <p style = "font-weight: bold;">- Des formations en mode « inter entreprise », dispensés dans les locaux de nos partenaires </p>
                    <p style = "font-weight: bold;">- Des formations en e-learning </p>
                    <!--<div class="action-support-item">
                        <p>Appelez nous</p>
                        <span>+33 6 24 87 33 33</span>
                        <i class="fal fa-phone"></i>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>