<div class="contact-details-area pt-90 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info mr-30 mt-30">
                    <div class="contact-item-1">
                        <div class="contact-info-item text-center">
                            <i class="fal fa-phone"></i>
                            <h5 class="title">Tel</h5>
                            <p>+33 6 24 87 33 33</p>
                        </div>
                        <div class="contact-info-item text-center">
                            <i class="fal fa-envelope"></i>
                            <h5 class="title">Email</h5>
                            <p>agoralabs@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item-1">
                        <div class="contact-info-item text-center">
                            <i class="fal fa-map"></i>
                            <h5 class="title">Location</h5>
                            <p>3, Allée Louise Bourgeois – 92140, Clamart</p>
                        </div>
                        <div class="contact-info-item text-center">
                            <i class="fal fa-globe"></i>
                            <h5 class="title">Site web</h5>
                            <p>www.agoralabs.org</p>
                        </div>
                    </div>
                </div> <!-- contact info -->
            </div>
            <div class="col-lg-6">
                <div class="map-area mt-30">
                    <iframe title="map" src="https://www.google.com/maps/embed/v1/place?q=place_id:EixBbGwuIExvdWlzZSBCb3VyZ2VvaXMsIDkyMTQwIENsYW1hcnQsIEZyYW5jZSIuKiwKFAoSCWXYRmEJeuZHEeI4KQk5eXFhEhQKEgkh0uwPFXrmRxFAPotow4ILBA&key=AIzaSyC8fHzFYEtwGxZm5yrWUOZ-YZIEB8sWTa4" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
                </div> <!-- map area -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>