<app-header></app-header>


<div class="contact-us-area bg_cover" style="background-image: url(assets/images/contact-bg.jpg)">
    <div class="contact-overlay">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Laissez-nous votre e-mail</h2>
                    </div> <!-- sevtion title -->
                </div>

            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex">

                        <div class="contact-form-area">

                            <form id="contact-form" #form="ngForm" name="ctForm">
                                <ngb-alert *ngIf="formResponse" [innerHTML]="formResponse" [type]="formStatus"></ngb-alert>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <input type="email" placeholder="Votre adresse email" name="to_email" required ngModel>
                                            <i class="fal fa-envelope-open"></i>
                                        </div> <!-- input box -->
                                    </div>

                                    
                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">

                                            <div class="col-sm-12 mb-2">
                                                <re-captcha language="fr" id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="recaptchatoken" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                                                <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                                                  <div *ngIf="recaptcha.errors?.['required']">Ce champ est obligatoire.</div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 mb-2">
                                                <div [hidden]="editmode">
                                                    <div class="main-btn loading">
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                        <div class="line"></div>
                                                    </div>                                               
                                                  </div>
                                            </div>
                                            <div class="col-sm-12 mb-2">
                                                <button class="main-btn" type="button" (click)="send(form);" [disabled]="!editmode ? 'disabled': null" >Téléchargez le document <i class="fal fa-long-arrow-right"></i></button>

                                            </div> 
                                            <div class="col-sm-12 mb-2" hidden>
                                                <a id="download-link" class="main-btn" target="_blank" download="Catalogue_De_Formations_Agoralabs.pdf" href="/assets/docs/Agoralabs_Catalogue_De_Formation.pdf">Notre catalogue de formations <i class="fal fa-download"></i></a>
                                            </div>                                                  
                                   
                                        </div><!-- input box -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- contact details -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </div>
</div>

<app-footer [layout]="classname" [logo]="ftlogo" [shape]="ftshape" [bgimage]="ftbgimage"></app-footer>
