<div class="services-optimization-area pt-80 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1 order-2">
                <div class="services-optimization-thumb mt-40">
                    <img src="assets/images/services-op-1.jpg" alt="">
                </div>
                <div class="services-optimization-thumb-2">
                    <img src="assets/images/services-op-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 order-lg-2 order-1">
                <div class="services-optimization-content mt-40">
                    <span>AgoraLabs</span>
                    <h3 class="title">Le Cloud</h3>
                    <p>Les projets de transformation digitale sont devenus tellement complexes que les paradigmes ont changé et malheureusement, plusieurs organisations ne se sont pas encore adaptées.</p>
                    <p>Au niveau des infrastructures, le cloud n’est plus une option, c’est quasiment une obligation, car il emmène avec lui des capacités de calcul illimitées, des réductions de coûts conséquentes et une incroyable capacité d’innovation.</p>
                    <p>AgoraLabs fourni des experts qui vous accompagnent dans la gestion simultanée des infrastructures, des middlewares et des applications, ce qui nous permet de vous garantir le bon fonctionnement votre chaîne de valeur.</p>
                    <p> Voici donc nos offres Cloud :</p>
                        <ul>
                            <li>- <span style = "font-weight: bold;">Audit technique : </span> Savoir si vous avez fait les choses correctement, sur le cloud, sur site ou même les deux (cloud hybride)</li>
                            <li>- <span style = "font-weight: bold;">Cloud Migration : </span> Changez de cloud</li>
                        </ul> 
                    
                    <!--<div class="action-support-item">
                        <p>Appelez nous</p>
                        <span>+33 6 24 87 33 33</span>
                        <i class="fal fa-phone"></i>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>