<div id="elearning" class="about-intro-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="intro-thumb">
                    <img src="assets/images/features-thumb.jpg" alt="">
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="intri-content">
                    <span>Udemy courses</span>
                    <h2 class="title">E-Learning</h2>
                    <p class="text-1">SAP-C01 AWS Solutions Architect Professional Certification.</p>
                    <p class="text-2">Préparation à la certification AWS Solution Architect Professional pour Francophones</p>
                    <a class="main-btn" href="https://www.udemy.com/course/sap-c01-aws-solutions-architect-professional-certification-fr/">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    </div>
</div>