<div class="solution-area bg_cover" style="background-image: url(assets/images/video-cta-bg.jpg);">
    <div class="solution-overlay pt-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="solution-box">
                        <div class="solution-content">
                            <h3 class="title">Une meilleure solution pour votre entreprise</h3>
                            <p>La société AgoraLabs propose une offre de services pour les organisations et entreprises centrée sur une expertise Cloud, du Conseil et des Formations.</p>
                            <div class="solution-play text-right mr-30 d-block d-lg-none">
                                <a class="video-popup" href="#"><i class="fas fa-play"></i></a>
                            </div> <!-- solution play -->
                        </div>
                    </div> <!-- solution box -->
                </div>
                <div class="col-lg-4">
                    <div class="solution-play text-right mr-30 d-none d-lg-block">
                        <a class="video-popup" href="#"><i class="fas fa-play"></i></a>
                    </div> <!-- solution play -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>